body {
  @apply .bg-yellow-200 .text-black;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.App {
  @apply .bg-yellow-200;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

 .fadeIn{
  animation: fadeIn .35s forwards;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes fadeOut {
  0% { opacity: 1}
  100% { opacity: 0; }
}

 .fadeOut{
  animation: fadeOut .3s forwards;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}


.masonry-layout {
  display: grid;
  grid-gap: 15px 10px;
  grid-auto-flow: dense;
  grid-auto-rows: 0.6rem;
  grid-template-columns: repeat(25, 20px);
  min-width: 0;
}

.masonry-small-layout {
  display: grid;
  grid-gap: 15px 10px;
  grid-auto-flow: dense;
  grid-auto-rows: 0.6rem;
  grid-template-columns: repeat(10, 1fr);
  min-width: 0;
}

.masonry-el {
  break-inside: avoid;
  padding: 5px;
}

.masonry-layout-panel__content {
  padding: 10px;
  border-radius: 10px;
}

